#data/CATH*
*mmtf*/
data/CATH4.3/mmtf/*
data/CATH4.3/mmtf*
data/CATH4.3/pdbs_raw/*.pdb
data/CATH4.3/pdbs_cleaned/*.pdb
# data/cath4.2
data/pdbs_raw/*.pdb
data/pdbs_raw_bio_assembly/*.pdb*
data/pdbs_cleaned/*.pdb
data/pdbs_cleaned_bio_assembly/*.pdb
*log*.log
*log*
*core*

# ignore trajecktories and checkpoints
*nohup*
*.xtc
*.dcd
*checkpoint*
*.pdb
*.log
*plot_*.png
simulations/*
scripts/reduce*
scripts/*pycache*
simulations_strict_cutoffs/*/
simulations_reinit/*/
simulations_longer_min/*/
run_prototype_diku_res2.5.py

# tmp files
run_prototype_diku_reinit.py
run_prototype_diku_res2.5.py
protocol_prototype_reinit.py
list_cleaned_res2.5.txt
pdbs_cleaned_biological_units/


# run files
*ipynb_checkpoints*
*submit*
*.e[0-9]*
*.o[0-9]*
*slurm-* 
