#data/CATH*
*mmtf*/
data/CATH4.3/mmtf/*
data/CATH4.3/mmtf*
data/CATH4.3/pdbs_raw/*.pdb
data/CATH4.3/pdbs_cleaned/*.pdb
# data/cath4.2
data/pdbs_raw/*.pdb
data/pdbs_cleaned/*.pdb
*log*.log


# ignore trajecktories and checkpoints
*.xtc
*.dcd
*checkpoint*
*.pdb
*.log
*plot_*.png
simulations/*
scripts/reduce*

# run files
*ipynb_checkpoints*
*submit*
*.e[0-9]*
*.o[0-9]*
*slurm-* 
