#Ignore directories with data
dynamics_augmented_strucutures/
simulations_new/
track_simulations.ipynb
run_prototype_computerome_gpu_new.py
run_prototype_diku_new.py
RMSDs_to_high.dat
ML_models/
.gitignore
###ignore ML model git repos###

ML_models/neurips19-graph-protein-design

### data ###

#data/CATH*

*mmtf*/
# data/cath4.2
**.pdb**

*log*.log
*log*
*core*

## ignored dumped frame 
dynamics_augmented_strucutures/*/*.pdb 
dynamics_augmented_strucutures/*.jsonl
dynamics_augmented_strucutures/*/*.jsonl
# ignore trajecktories and checkpoints
*nohup*
*.xtc
*.dcd
*checkpoint*
*.pdb
*.log
*plot_*.png
simulations/*
scripts/reduce*
scripts/*pycache*
simulations_strict_cutoffs/*/
simulations_reinit/*/
simulations_longer_min/*/
run_prototype_diku_res2.5.py

# tmp files
run_prototype_diku_reinit.py
run_prototype_diku_res2.5.py
protocol_prototype_reinit.py
list_cleaned_res2.5.txt
pdbs_cleaned_biological_units/
collaboration_maher/

# run files
*ipynb_checkpoints*
*submit*
*.e[0-9]*
*.o[0-9]*
*slurm-* 
